
/*여백 및 기본적인 폰트를 설정*/
body{
	margin:0;
	padding:0;
	font-family: Arial,"MS Trebuchet",sans-serif;
}
/* 페이지의 내용을 가운데 놓음*/
#container{
	width: 960px;
	margin:0 auto;
}

/* 점 제거 및 내비게이션을 가로 바 형태로 만듦 */
.navbar {
    list-style: none;
    padding: 0;
    margin: 0 20px 0 0;
    display: inline-block;
}

.article1 {
    width: 50%;
    float: left;
}

.article2 {
    width: 16%;
    float: left;
    margin-top: 90px;
}

.article3 {
    width: 20%;
    float: left;
    padding-left: 40px;
}

#foot {
    clear: both;
    text-align: center;
}